html
  head
    script(type='application/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='application/javascript', src='/script.js')
    link(rel='stylesheet', href='/style.css', media='screen, projection')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Orbitron:regular,bold', media='screen, projection')
    title anonchat

  body!= body
